# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables and secrets
.env
*.env

# Logs
*.log

# Virtual environment
venv/
ENV/
env/

# Flask instance folder
instance/

# SQLite database
*.sqlite3
*.db

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/

# MacOS files
.DS_Store
